extends ../layout/layout

block content
	script( src="js/controllers/fecilities.js" )
	div( ng-controller="fecilitiesCtrl" )
		div( class="card-panel valign-wrapper center-align" id="preloaderScreen" style="z-index:100;position:fixed;width:100%;height:100%;margin:0;" )
			div( id="preloader" )
				div( id="loader" )
		div( class="card-panel blue-grey darken-4" style="border-bottom : 10px solid #343F4B; margin:0;")
			nav( class="z-depth-0 transparent center-align" )
				div( style="height : inherit;"	 )
					img( src="images/smclogo.png" class="left hide-on-med-and-down" style="height:inherit;" )
					a( href="/" class="flow-text left hide-on-med-and-down" ) &nbsp;&nbsp; St. Mary's College
					ul( class="right hide-on-med-and-down" )
						li
							a( href="/departments" ) Departments
						li( class="active" )
							a( href="/facilities" ) Facilities
						li
							a( href="/associations" ) Service Wings and Associations
						li
							a( href="/news" ) News and Events
						li
							a( href="/alumni" ) Alumni Association
					a( href="/" class="flow-text hide-on-large-only" ) St.Mary's College
					ul( id="slide-out" class="sidenav left-align" )
						li( class="center-align" )
							div( class="user-view" )
								div( class="background" )
									img( src="/images/SlideImg/1.jpg" class="responsive-img" style="opacity:0.5" )
								a( href="#!user" )
									img( src="/images/smclogo.png" class="circle" )
								a( href="#!name" )
									span &nbsp;
						div
							li
								a( href="/departments" )
									i( class="material-icons" ) school
									span Departments
							li( class="active" )
								a( href="/facilities" )
									i( class="material-icons" ) library_books
									span Facilities
							li
								a( href="/associations" ) 
									i( class="material-icons" ) assignment_ind
									span Associations
							li
								a( href="/news" ) 
									i( class="material-icons" ) book
									span News and Events
							li
								a( href="/alumni" ) 
									i( class="material-icons" ) person_pin
									span Alumni Association
					a( href="#" data-target="slide-out" class="sidenav-trigger" )
						i( class="material-icons" ) menu 
		div( class="row card-panel z-depth-0" )
			div( class="col l4 m4 s12 card-panel z-depth-0" )
				div( class="collection" )
					div( class="collection-item" )
						nav( class="white z-depth-0" )
							div( class="nav-wrapper white" )
								form
									div( class="input-field" )
										input( type="search" id="search" placeholder="Search Facility by Title and description here" ng-model="searchFac" )
										label( class="label-icon left" for="search" )
											i( class="material-icons black-text" ) search
				blockquote( class="blue-bquote" )
					div( class="collection z-depth-1" )
						div( class="collection-item grey lighten-4" style="font-weight:bold" ) The list of facilities available
						a( href="" class="collection-item black-text" ng-repeat="facility in facilityList | filter : searchFac as sf" ) {{ facility.title }}
						div( class="collection-item" ng-if="sf==0" ) No Facility Records Found ! 
			div( class="col l8 m8 s12 row card-panel z-depth-0" )
				div( class="collection z-depth-1 hoverable col l4 m6 s12" ng-repeat="fac in facilityList | filter : searchFac" style="padding:0" )
					div( class="collection-item grey lighten-4" style="font-weight:bold" ) {{ fac.title }}
					div( class="collection-item" style="height:200px;overflow:hidden" )
						span {{ fac.description }}
					div( class="collection-item center-align grey lighten-4" )
						a( href="#facilityPhotos" class="btn-flat modal-trigger" ng-click="fullInfo(fac)" ) Read Complete Info
				div( class="collection z-depth-2 center-align card-panel" ng-if="sf==0" )
					span No Facility Records Found !
		div( id="footer" class="grey darken-3 row page-footer" style="margin:0" )
			div( class="container" )
				div( class="row" )
					div( class="col l6 s12" )
						h5( class="white-text" ) St. Mary's Insights
						p( class="grey-text text-lighten-4" ) St. Mary’s College, Shirva strives to train rural youth to meet global challenges through effective classroom lessons coupled with capability building programmes.content.
						p
							a( href="" class="blue tooltipped btn-floating btn-large darken-3 waves-effect" data-position="top" data-tooltip="Facebook" )
								i( class="social fa fa-facebook" )
							&nbsp;
							&nbsp;
							a( href="" class="red tooltipped btn-floating btn-large waves-effect"  data-position="top" data-tooltip="Google Plus" )
								i( class="social fa fa-google-plus" )
							&nbsp;
							&nbsp;
							a( href="" class="pink btn-floating btn-large waves-effect tooltipped"  data-position="top" data-tooltip="Instagram" )
								i( class="social fa fa-instagram" )
							&nbsp;
							&nbsp;
							a( href="" class="green btn-floating darken-2 btn-large waves-effect tooltipped"  data-position="top" data-tooltip="Get Directions" )
								i( class="social fa fa-map" )
					div( class="col l2 s12" )
					div( class="col l4 s12" )
						h5 Useful Links
						ul
							li( class="" )
								a( href="/departments" class="grey-text text-lighten-3" ) Departments
							li( class="" )
								a( href="/associations" class="grey-text text-lighten-3" ) Service wings
							li( class="" )
								a( href="/news" class="grey-text text-lighten-3" ) News and events
							li( class="" )
								a( href="/facilities" class="grey-text text-lighten-3" ) College Facilities
							li( class="" )
								a( href="/alumni" class="grey-text text-lighten-3" ) Alumni association
							li
								a( href="/login" class="grey-text" ) Login
			div( class="footer-copyright blue-grey darken-4" )
				div( class="container left-align" )
					span Copyright &copy; St. Mary's Shirva
		div( class="modal" id="facilityPhotos" )
			div(  )
				div( id="mainInfo" )
					div( class="collection" style="margin:0" ng-repeat="data in facilityData" )
						div( class="collection-item grey lighten-4" ) {{ data.title }}
						div( class="collection-item" ) {{ data.description }}
						div( class="collection-item right-align" )
							a( href="" ng-click="showImages()" class="btn grey darken-4" ) Show Images
								i( class="material-icons right" ) images
				div( id="imageInfo" class="white" )
					div( class="collection" style="margin:0" )
						div( class="collection-item right-align" )
							a( href="" class="black-text" ng-click="closeImg()" style="margin:10px" )
								i( class="material-icons" ) close
						div( class="collection-item center-align" ng-repeat="img in facilityPhotos" )
							img( style="padding:10px;" ng-src="/serverImages/?img={{ img }}" class="responsive-img" )
							span( ng-if="facilityPhotos.photos.length==0" ) No images found with the news