doctype html
html( ng-app="smcNodeApp" lang="en" )
  head
    title= title
    link( rel='stylesheet', href='/css/style.css' )
    link( rel='stylesheet', href='/css/material.css' )
    link( rel='stylesheet', href='/css/icons.css' )
    link( rel="stylesheet", href="/css/lightgallery.css" )
    link( rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" )
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    script( src='/js/essentials/jquery.js' )
    script( src='/js/essentials/material.js' )
    script( src='/js/essentials/angular.js' )
    script( src='/js/essentials/angularRoute.js' )
    script( src="/js/essentials/ng-file-upload.js" )
    script( src="/js/essentials/moment.js")
    script( src="/js/essentials/angular-moment.js")
    script( src="/js/essentials/angular-animate.js")
    script( src="/js/essentials/angular-touch.js")
    script( src="/js/essentials/paginate.js" )
    script( src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" )
    script( src="/js/essentials/lightgallery.js" )
    block content